@{
    ViewBag.Title = "Pop Up";
    Layout = null;
}

<br />
<h2>PopUp</h2>
<p>

<p>
    Hello, this is a modal jquery popup !
</p>
<p>

<p><a href="javascript:void(0);" class="close">Hola, Now close it</a></p>
<p>